body {
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background: url(https://i.pinimg.com/originals/f8/14/cd/f814cd9030f0ab158438122256745aab.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: space-around;
}

form{
  float:center; 
  width:300px;
}

input{
  float:center;
  width:150px;
  margin-bottom:10px;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  float: center;
}

h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  float: left;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float:center;
  width:150px;
  margin-bottom:10px;
}

.btn-group button {
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: '';
  clear: both;
  display: table;
}

.Name {
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  text-align: center;
}

.Location {
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 29%;
  text-align: center;
}

.email {
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 29%;
  text-align: center;
}

#code-select {
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 10%;
}

.phone{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 19%;
  text-align: center;
}

.password{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  text-align: center;
}

.verify{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  text-align: center;
}

#birthday{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  width: 22.5%; 
  text-align: center;
}

.userConditions{
  border:1px solid rgb(117, 0, 92);
  background: white;
  padding: 10px 24px; 
}

.geolocation {
  border:1px solid rgb(117, 0, 92);
  background: white;
  padding: 10px 24px; 
}

.ButtonNS{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
}

/* liste catégories */
.container-fluid{
  height: 450px;
  width: 300px;
  position: absolute;
  background-color: #FAEBD7;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 10px;
  cursor: pointer;
  right: 150px;
  top: 370px;
}

/* liste catégories creation profil */
#categCrea{
  
  height: 550px;
  width: 400px;
  position: relative;
  bottom: 550px; 
  right: 50px;
  background-color: #FAEBD7;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 10px;
  left: 800px;
}

/* autobiographie */
#bio{
  font-family: 'Times New Roman', Times, serif;
  background-color: #FAEBD7;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  width: 50%;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 900px;
}

/*bouton preview*/
.prev{
  display: block;
  margin-left: auto;
  margin-right: auto 
}

/*log in & sign up; login template*/
.logSign{
  position: relative;
  height: 200px; left: 100px;
}

.newCat{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 29%;
}

/* carte */
.map-container {
  position: relative;
  left: 100px;
  width: 50%;
  max-width: 100%;
  height: 500px;
}

.Mail{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 29%;
}

.pwd{
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px;
  width: 29%;
}

.SignUp{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: center;
}

.ClickMe{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.LogIn{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: center;
}

.Pseudo{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  text-align: center;
  float: left;
}

p1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  float: left;
  clear:left;
  text-align: left;
}

#myFile{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  float: left;
  clear: left;
}

.Pronouns{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  text-align: center;
  clear:left;
  float: left;
}

/*LiensExt*/
.container{
  background-color: violet;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  position: relative;
  margin: left;
  width: 50%;
  min-height: fit-content;
  padding: 10px;
  top: 850px
}

 /*cv artistique*/
.container2{
  background-color: violet;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  margin: auto;
  position: relative;
  min-height: fit-content;
  width: 50%;
  padding: 10px;
  bottom: 250px;
}

.submit{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  float: left;
  clear: left;
}

.Lien{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  text-align: center;
}

.Button{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
}

#experienceTitle{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  text-align: center; 
}

#details{
  font-family: 'Times New Roman', Times, serif;
  border:1px solid rgb(117, 0, 92);
  padding: 10px 24px; 
  text-align: center;
}

.preview{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: center; 
}

.create{
  background-color: white;
  border: 1px solid rgb(117, 0, 92);
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left; 
}

.containerChat{
  background-image: linear-gradient(to bottom, #76d5f0, #6050f1 100%);
  width: relative;
  height:fit-content;
}

#chat-form{
  bottom: 10px;
}

.Profil{
  background-image: linear-gradient(to bottom, #403547, #351e4d 100%);
  width: 450px;
  padding: 3px;
  height:fit-content;
  position: relative;
  text-shadow: black;
}