<template name="app_body">
  {{#if currentUser}}
  <nav class="navbar navbar-light py-1" style="  background-image: linear-gradient(to right bottom, #ffa6c8ca, #e40057d8 100%);
   backdrop-filter: blur (50px);">
    <div class="container-md">
      <a class="navbar-brand" font-family: Meltland>MACROCOSMOS</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <button type="button" class="btn btn-dark" id="accueils2x">Home</button>
          <button type="button" class="btn btn-dark" id="préf">Settings</button>
          <button type="button" class="btn btn-dark" id="Logout">Log Out</button>
        </div>
      </div>
    </div>
  </nav>
  {{> Template.dynamic template=main}}
    {{else}}
      {{> Template.dynamic template=main}}
    {{/if}}
  </template>