<template name="app_body">
    <header>
      <h1 style="display: inline-block;">MACROCOSMOS</h1>
      <!--
      {{#if currentUser}} Bonjour {{utilisateur}}
      <button id="logout">Se déconnecter</button>
      {{else}}
      <button id="login">Se connecter</button>
      {{/if}}-->
    </header>
    <div class="btn-group">
      <button id="logIn">Log In</button>
      <button id="signUp">Sign Up</button>
      <button id="newProfil">Création du profil</button>
      <button id="accRouge">Accueil Rouge</button>
      <button id="accBleu">Accueil Bleu</button>
      <button id="accueils2x">Accueils</button>
      <button id="préf">preferences</button>
      <button id="Logout">logout</button>
    </div>
    {{> Template.dynamic template=main}}
  </template>