<template name="app_body">

  <nav class="navbar navbar-light" style="background-color: #ffa6c8;">
    <div class="container-md">
      <a class="navbar-brand mb-0 h1">MACROCOSMOS</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" id="accueils2x">Home</a>
          <a class="nav-link" id="préf">Settings</a>
          <a class="nav-link" id="Logout">Log Out</a>
        </div>
      </div>
    </div>
  </nav>
    {{> Template.dynamic template=main}}
  </template>