<head>
    <title>MacroCosmos</title>
  </head>
  
  <body>
    <h1>Welcome to Create Profile!</h1>
  
    {{> idUser}}
    {{> liensExt}}
    {{> CVart}}
    {{> NotesAuto}}
  </body>
  
  <template name="idUser">
    <input type="text" placeholder="Nickname" class="Pseudo">
    <br>
    <p>Profile Picture</p>
    <form action="/action_page.php">
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>
    <br>
    <input type="text" placeholder="Pronouns" class="Pronoms">
  </template>

  <template name="liensExt">
    <button>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
  </template>

  <template name="CVart">
    <button>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
  </template>

  <template name="NotesAuto">
    <button>Click Me</button>
    <p>You've pressed the button {{counter}} times.</p>
  </template>

  <template name="BoutonP">
    <button>Preview Profil</button>
    <p>You've pressed the button {{counter}} times.</p>
  </template>

  <template name="BoutonC">
    <button>Create Profil</button>
    <p>You've pressed the button {{counter}} times.</p>
  </template>