<template name="preferences">
<h1>Add, remove or modifiy your data</h1>

<br>
{{> ModifProfil}}

    <button id="Save" class="create">Save changes</button>
  </template>


<template name="ModifProfil">
  <div class="container">
    <div class= "row">
      <div class="col-sm-12 col-md-3 col-lg-3">   
    {{> idUser}}
  </div>
  <div class="col-sm-12 col-md-5 col-lg-5">
    {{> liensExt}}
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4">
    {{> CVart}}
  </div>
</div>
<div class= "row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    {{> listCategoriesCoches}}
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    {{> NotesAuto}}
  </div>
</div>
</div>
  </template>

 