<template name="indexRouge">
  {{>accueilRouge}}
</template>

<template name="accueilRouge">
  <header> 
    <h1>Explore what's new!</h1>
  </header>
  <select class="btn-accRouge" >
    <option value="carteRed">Macrocosmos Network</option>
    <option value="swipe">Random Encounter</option>
    <option value="feedRed">Feed</option>
  </select>
    <input type="text" placeholder="Search for artists around you!">
    <button id="searchProfil">search</button>
  <br>
    {{#if showCosmos}}
      {{>map3}}
    {{/if}}

    {{#if showSwipe}}
      {{>Swipe}}
    {{/if}}

    {{#if showFeedMacro}}
      {{>feedMacro}}
    {{/if}}

</template>

<template name="map3">
  <p>ok</p>
</template>

<template name="Swipe">
  <p>"Swipe", quoi que cela veuille dire</p>
</template>

<template name="feedMacro">
  <p>Fil d'actualité global</p>
</template>

<template name="RechercheProf">
  <input type="text" placeholder="Search for artists around!">
</template>

<template name="logoutRéglages">
  <p><button id="logout">logout</button>
  <button id="boutonPref">preferences</button></p>
</template>