<template name="accueilRouge">
    <h1>Welcome to Acceuil rouge !</h1>
  
    {{> Carte}}
    {{> Swipe}}
    {{> RechercheProf}}
    {{> FilActuGlobal}}
</template>
  
  <template name="Carte">
    <p>Carte hypothétique du monde ici</p>
  </template>

  <template name="Swipe">
    <p>"Swipe", quoi que cela veuille dire</p>
  </template>

  <template name="RechercheProf">
    <p>Recherche de profils:</p>
    <input type="text" placeholder="Search for artists around you!">
  </template>

  <template name="FilActuGlobal">
    <p>Fil d'actualité global</p>
  </template>