<template name="indexBleu">
  {{>accueilBleu}}
</template>

<template name="accueilBleu">
  <header>
    <h1>Keep up with your mates !</h1>
  </header>
  <select class="btn-accBleu" >
    <option value="profilPerso">My profil</option>
    <option value="reseauPerso">My collaborations</option>
    <option value="mapBlue">My network</option>
    <option value="chatBlue">Chat</option>
    <option value="feedBlue">Feed</option>
  </select>
  <br>

    {{#if showProfil}}
    <br>
      {{>profilPersoContact}}
    {{/if}}

    {{#if showNetwork}}
    <br>
      {{>reseauCollab}}
    {{/if}}

    {{#if showMap}}
    <br>
      {{>map2}}
    {{/if}}

    {{#if showChat}}
    <br>
      {{>Chat}}
    {{/if}}

    {{#if showFeed}}
    <br>
      {{>FilActuPerso}}
    {{/if}}

</template>

<template name="profilPersoContact">
  <div class="Profil"> <p id="identité">{{getPhoto}} Photo
    <br>
   <b>{{getName}} {{getLastName}}</b> 
   <br>
   {{getPronouns}}
   <br>
   {{getNickname}}
   <br> <br>
   {{getBio}}
  </p> </div>
  <div  id= "infos">
  <div class="Profil"> <p id="ptf">
    {{getLiens}}
  </p> </div>
  <div class="Profil"> <p id="expCv">
    {{getExp}}
  </p> </div>
</div>
</template>  

<template name="reseauCollab">
  <p>Réseau des collaborations accomplies</p>
</template>

<template name="map2">
  <div class="map-container">
    {{#unless geolocationError}}
         {{> googleMap name="map" options=mapOptions}}
       {{else}}
         Geolocation failed: {{geolocationError}}
    {{/unless}}
   </div>
</template>

<template name="Chat">
  <p>Chat/discussion</p>
  <div class="containerChat">
    <header>
      <h1>MacroChat</h1>
    </header>
    {{#each messages}}
  <p><b>{{getUsername}} </b>-{{formatDate CreatedAt}}-: {{text}} </p>
    {{else}}
  <p>No messages.</p> 
  {{/each}}
  <form id="chat-form">
    <p><textarea rows="3" width= relative name="text" placeholder="Write a message!">
    </textarea></p>
    <p><input type="submit" value="send"></p>
  </form>
    <!-- Alternative de code 
      chat messages here
    <ul class="message-window">
      {{#each recentMessages}}
        {{> message}}
      {{/each}}
    </ul>
     more-messages button
    <footer>
      {{#if currentUser}}
        <form class="new-message">
          <input type="text" name="text" placeholder="Add a message" autocomplete="off" />
        </form>
      {{/if}}
    </footer> -->
  </div>
</template>

<template name="FilActuPerso">
  <p>Fil d'actualité liés à ses contacts</p>
</template>


<!--<template name="message">
  <li class="message">
    <div class="username">{{username}}</div>
    <div class="message-text">{{messageText}}</div>
  </li>
</template> -->

    <!-- 
    distinguer la déclaration des templates
            <template name="IDBio">
            <button>Click Me</button>
            <p>You've pressed the button {{counter}} times.</p>
        </template>
    leur appel
    exemple théorique

    <template name="BadgesRpzGraphiques">
          <button>Click Me</button>
          <p>You've pressed the button {{counter}} times.</p>
    </template>

    <template name="IDBio">
          <button>Click Me</button>
          {{> BadgesRpzGraphiques}}
          {{> reseauCollab}}   
    </template>

    <template name="reseauCollab">
      {{> réseauVisuCarte}}
    </template>

  -->