<template name="creationProfil">
  <h1>You can now create your profile</h1>
  
  {{> idUser}}
  {{> liensExt}}
  {{> CVart}}
  {{> listCategoriesCoches}}
  {{> NotesAuto}}
  <br>
  <br>
  <br>
  <br>
  {{> BoutonC}}
  {{> BoutonP}}
</template>

<template name="idUser">
  <input id= "Nickname" type="text" placeholder="Nickname" class="Pseudo">
  <p1>Profile Picture</p1>
  <form action="/action_page.php">
    <input type="file" id="myFile" name="filename">
  </form>
  <input id="PrefPronouns" type="text" placeholder="PrefPronouns" class="Pronouns">
  <input id="submitId" type="button" class="submit" value="Submit">
</template>

<template name="CVart">
  <div class="container3">
    <div class= "row">
      <div class="col-sm-12 col-md-6">
        <h2>Artistic Resume</h2>
        <p id="expDonnées"></p>
        <dl>
          <dt>
            <input type="text" name="experience" id="experienceTitle1" placeholder="Experience 1"> 
          </dt>
          <br>
          <dd>
            <input type="text" name="description" id="details" placeholder="Experience details">
          </dd>
        </dl>
        <input id= "submitExp" type="button" class="Button" value="Submit">
      </div>
    </div>
  </div>
</template>

<template name="liensExt">
  <div class="container">
    <div class= "row">
      <div class="col-sm-12 col-md-6">
        <h2>Links to other accounts</h2>
        <p id="liensDonnés"></p>
        <input id="plateforme" type="text" placeholder="name of the site">
        <input id="liens" type="url" name="url" class="Lien"
        placeholder="https://example.com"
        pattern="https://.*" size="30"
        required>
        <br>
        <input id="submitLiens" type="button" class="Button" value="Submit">
      </div>
    </div>
  </div>
</template>

<template name="NotesAuto">
  <div id="bio">
    <h3>Autobiography:</h3>
    <form action="/action_page.php">
      <textarea id="autoBio" class="bio" name="bio"
      rows="5" cols="33" maxlength="500">
    </textarea>
    <button id="submitBio" class="Button">Submit</button>
  </form> 
</div>
</template>

<template name="BoutonP">
  <div class="prev">
    <button id="preview" class= "preview">Preview</button>
  </div>
</template>

<template name="BoutonC">
  <button id="create" class="create">Create</button>
</template>

<template name="listCategoriesCoches">
  <div id="categCrea">
     <div class= "row">
      <div class="col-sm-12 col-md-6">
    <h2>List of artistic practices</h2>
    <ul>
      <input type="checkbox" name="Music" value="Music" >
      <label for="Music">Music</label>
      <input type="checkbox" name="Cinema" value="Cinema">
      <label for="Cinema">Cinema</label>
      <input type="checkbox" name="Audio-visual" value="Audio-visual">
      <label type="Audio-visual">Audio-Visual</label>
      <input type="checkbox" name="Litterature" value="Litterature">
      <label type="Litterature">Litterature</label>
      <input type="checkbox" name="Scenic Arts" value="ScenicArts">
      <label type="Scenic Arts">Scenic Arts</label>
      <input type="checkbox" name="Danse" value="Danse">
      <label type= "Danse">Dance</label>
      <input type="checkbox" name="Graphical Arts" value="GraphicalArts">
      <label type="Graphical Arts">Graphic Arts</label>
      <input type="checkbox" name="Architecture" value="Architecture">
      <label type="Architecture">Architecture</label>
      <input type="checkbox" name= "Fashion" value="Fashion">
      <label type= "Fashion">Fashion</label>
      <input type="checkbox" name="BodyModification" value="BodyModification">
      <label type="BodyModification">Body Modifications</label>
      <input type="checkbox" name="DigitalArt" value="DigitalArt">
      <label type="DigitalArt">Digital Art</label>
      <input type="checkbox" name="CulinaryArts" value="CulinaryArts">
      <label type= "CulinaryArts">Culinary Arts</label>
      <input type="checkbox" name="Tuning" value="Tuning">
      <label type= "Tuning">Tuning</label>
    </ul>
    <button id="joinCat">Join these practice fields</button>
    <br>
    <input id="newCat" class="newCat" name= "newCateg" type="text" placeholder="Proposer une catégorie">
    <button id="Suggest">Suggest</button>
  </div>
</div>
</div>
</template>