<template name="creationProfil">
  <h1>Complete your profile</h1>
  <div class="container">
    <div class= "row">
      <div class="col-sm-12 col-md-3 col-lg-3 my-auto">
        {{> idUser}}
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5 my-auto">
        {{> liensExt}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 my-auto">
        {{> CVart}}
      </div>
    </div>
    <div class= "row">
      <div class="col-sm-12 col-md-6 col-lg-6 my-auto">
        {{> listCategoriesCoches}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 my-auto">
        {{> NotesAuto}}
      </div>
    </div>
    <div class= "row">
      <div class= "col-sm-6 col-md-6 col-lg-6 my-auto">
        {{> BoutonC}}
      </div>
      <div class= "col-sm-6 col-md-6 col-lg-6 my-auto">
        {{> BoutonP}}
      </div>
    </div>
  </div>
</template>

<template name="idUser">
  <input id= "Nickname" type="text" placeholder="Nickname" class="Pseudo">
  <p1>Profile Picture</p1>
  {{#with UserImage}}
  <img src="{{image}}" class="priflePic">
  {{else}}
  <img src="MacroPic.jpeg" class="priflePic">
  {{/with}}
  <!--<form enctype="multipart/form-data" class="editProfile">
    <label for="profilePict">Select a profil picture</label>
    <span id="filename"></span>
    <input type="file" id="profilePict" name="profilePict">
    <br>
    <button type="submit" value="upload" id="profileBtn">Upload the picture</button>
  </form> -->
  <input id="PrefPronouns" type="text" placeholder="PrefPronouns" class="Pronouns">
  <br>
  <input id="submitId" type="button" class="submit" value="Submit">
</template>

<template name="CVart">
  <h2>Artistic Resume</h2>
  <p id="expDonnées"></p>
  <input type="text" name="experience" id="experienceTitle1" placeholder="Experience 1"> 
  <br>
  <input type="text" name="description" id="details" placeholder="Experience details">
  <br>
  <input id= "submitExp" type="button" class="Button" value="Submit">
</template>

<template name="liensExt">
  <h2>Links to other accounts</h2>
  <p id="liensDonnés"></p>
  <input id="plateforme" type="text" placeholder="name of the site">
  <input id="liens" type="url" name="url" class="Lien"
  placeholder="https://example.com"
  pattern="https://.*" size="30"
  required>
  <br>
  <input id="submitLiens" type="button" class="Button" value="Submit">
</template>

<template name="NotesAuto">
  <div id="bio">
    <h3>Autobiography:</h3>
    <form action="/action_page.php">
      <textarea id="autoBio" class="bio" name="bio"
     minlength="500" placeholder="Tell us something about yourself!"></textarea>
    <br>
    <button id="submitBio" class="Button">Submit</button>
  </form> 
</div>
</template>

<template name="BoutonP">
  <div class="prev">
    <button id="preview" class= "preview">Preview</button>
  </div>
</template>

<template name="BoutonC">
  <button id="create" class="create">Create</button>
</template>

<template name="listCategoriesCoches">
  <div id="categCrea">
    <h2>List of artistic practices</h2>
    <ul>
      <input type="checkbox" name="Music" value="Music" >
      <label for="Music">Music</label>
      <br>
      <input type="checkbox" name="Cinema" value="Cinema">
      <label for="Cinema">Cinema</label>
      <br>
      <input type="checkbox" name="Audio-visual" value="Audio-visual">
      <label type="Audio-visual">Audio-Visual</label>
      <br>
      <input type="checkbox" name="Litterature" value="Litterature">
      <label type="Litterature">Litterature</label>
      <br>
      <input type="checkbox" name="Scenic Arts" value="ScenicArts">
      <label type="Scenic Arts">Scenic Arts</label>
      <br>
      <input type="checkbox" name="Danse" value="Danse">
      <label type= "Danse">Dance</label>
      <br>
      <input type="checkbox" name="Graphical Arts" value="GraphicalArts">
      <label type="Graphical Arts">Graphic Arts</label>
      <br>
      <input type="checkbox" name="Architecture" value="Architecture">
      <label type="Architecture">Architecture</label>
      <br>
      <input type="checkbox" name= "Fashion" value="Fashion">
      <label type= "Fashion">Fashion</label>
      <br>
      <input type="checkbox" name="Body Modification" value="BodyModification">
      <label type="BodyModification">Body Modifications</label>
      <br>
      <input type="checkbox" name="Digital Art" value="DigitalArt">
      <label type="DigitalArt">Digital Art</label>
      <br>
      <input type="checkbox" name="Culinary Arts" value="CulinaryArts">
      <label type= "CulinaryArts">Culinary Arts</label>
      <br>
      <input type="checkbox" name="Tuning" value="Tuning">
      <label type= "Tuning">Tuning</label>
    </ul>
    <button id="joinCat">Join these practice fields</button>
    <br>
    <input id="newCat" class="newCat" name= "newCateg" type="text" placeholder="Proposer une catégorie">
    <button id="Suggest">Suggest</button>
  </div>
</template>