<template name="login">
    <h1>Welcome to MacroCosmos !</h1>
  
    {{> listCategories}}
    <br>
    {{> LoginSignUp}}
    <br>
    {{> Map}}
</template>
  
  <template name="listCategories">
    <h2>List of artstic practices</h2>
    <p>Music</p>
    <p>Cinema</p>
    <p>Audio-visual</p>
    <p>Litterature</p>
    <p>Scenic Arts</p>
    <p>Danse</p>
    <p>Graphical Arts</p>
    <p>Architecture</p>
    <p>Mode</p>
    <p>Body Modifications</p>
    <p>Digital Art</p>
    <p>Culinary Arts</p>
    <p>Tuning</p>
    <input name= "newCateg" type="text" placeholder="Proposer une catégorie">
  </template>

  <template name="LoginSignUp">
    <input id="user" name="eMail" type="text" placeholder="Email adress">
    <input id="pwd" name="pwd" type="text" placeholder="Password">
    <button id="logIn">Log in</button>
    <br>
    <p> Not a registered artist yet? Help yourself and Sign up! </p>
    <br>
    <button>Sign Up</button>
  </template>

  <template name="Map">
    <p>MAP</p>
    <button>Click Me</button>
  </template>
