<template name="login">
  <h1>Welcome to MacroCosmos !</h1>
  
  {{> listCategories}}
  <br>
  {{> LoginSignUp}}
  <br>
  {{> Map}}
</template>

<template name="listCategories">
  <div class="container-fluid">
    <h2>List of artistic practices</h2>
    <ul>
      <li>Music</li>
      <li>Cinema</li>
      <li>Audio-visual</li>
      <li>Litterature</li>
      <li>Scenic Arts</li>
      <li>Danse</li>
      <li>Graphical Arts</li>
      <li>Architecture</li>
      <li>Mode</li>
      <li>Body Modifications</li>
      <li>Digital Art</li>
      <li>Culinary Arts</li>
      <li>Tuning</li>
    </ul>
    <input id="newCat" class="newCat" name= "newCateg" type="text" placeholder="Proposer une catégorie">
    <button id="Suggest">Suggest</button>
  </div>
</template>

<template name="LoginSignUp">
  <input id="eMail" class= "Mail" type="text" placeholder="Email adress">
  <input id="pwd" class="pwd" type="text" placeholder="Password">
  <br>
  <button id= "LogIn" class="LogIn">Log in</button>
  <br>
  <p> Not a registered artist yet? Help yourself and Sign up! </p>
  <br>
  <button id= "SignUp" class="SignUp">Sign Up</button>
</template>

<template name="Map">
  <p>MAP</p>
  <div id="map"></div>
  <button>Click Me</button>
</template>